 .main-background {
     background-image:url('/static/stylesheets/header.jpg');
 }

.blockquote {
    color: white;
}

.first-body-row {
    margin-top: 5em;
}

.debts-table th, td {
    text-align: center;
}

.debts-table .header-column {
    text-align: left;
}
 span.ruble-icon {
     font-family: "Helvetica Neue", sans-serif;
 }

 .amount-group {
     padding-right: 0;
 }

 .validate {
     display: none;
     color: red;
     margin: 0 0 15px 0;
     font-weight: 400;
     font-size: 13px;
 }

 .game-result-row~.validate {
    margin-top: -25px;
    padding-left: 1em;
 }


 #add-game-result-line {
     border-radius: 50%;
 }

 .delete-row-btn {
     height: 50%;
 }

 .game-result-row {
     padding-left: 0.3em !important;
 }

 #game-results-beginning {
     display: none;
 }

 #game-results-beginning + .game-result-row .delete-row-btn button {
     pointer-events: none;
     opacity: 20%;
 }

 .delete-row-btn {
     float: right !important;
 }

 .game-info-item {
     display: flex !important;
 }

 .games-thread {
     /* Заготовка для сокрытия длинной истории игр */
     /*padding-top: 1em;*/
     /*overflow: hidden;*/
     /*text-overflow: ellipsis;*/
     /*height: 150vh;*/
 }