<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/welcome-template.css">
    <title>Welcome</title>
</head>
<body>
<div class="welcome center">Welcome, it is NOW</div>
<div class="welcome center">
    {{ range .Players }}
    <p> {{ .Name }}</p>
    {{ end }}
</div>
<div>
    <button class="btn-success">Test button</button>
</div>
</body>
</html>